<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">
  </head>
  <header>
    <%- include('../partials/header') %>
  </header>
  <body>
  <div class="container">
    <div class="row justify-content-center">
      <div class = col-md-10>
        <%if(user!= null){%>
        <p>You are currently logged in.</p>
        <%}%>
        <%if(user==null){%>
          <p>You are currently not logged in.</p>
        <%}%>
      </div>
    </div>
  </div>
  </body>
<footer>
  <%- include('../partials/footer') %>
</footer>
</html>
